# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions and binaries
*.so
*.dll
*.exe

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
pip-wheel-metadata/

# Virtual environments
env/
venv/
ENV/
.venv/
.env/

# PyInstaller
*.manifest
*.spec

# Testing / coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage
.coverage.*
coverage.xml
nosetests.xml

# Type checkers / caches
.mypy_cache/
.pyre/
.cache/

# IDEs
.idea/
.vscode/
.github

# Jupyter
.ipynb_checkpoints/

# Logs and databases
*.log
*.sql
*.sqlite3

# OS files
.DS_Store
Thumbs.db
